.currency-dropdown {
    display: none;
    background: #ffffff;
    color: #666666;
    font-size: 13px;
    min-width: 230px;
    padding: 20px 20px;
    position: absolute;
    right: 95px;
    top: 42px;
    width: auto;
    text-align: left;
    z-index: 3000;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    /* -webkit-transition: all .3s ease;
    transition: all .3s ease; */
    border-radius: 3px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.currency-dropdown ul li {
    height: 25px;
    font-size: 16px;
}

.currency-box:hover .currency-dropdown {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.currency-dropdown ul.menu-top-menu {
    margin-bottom: 15px;
}

.switcher {
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
    padding-top: 10px;
}

.language {
    margin-bottom: 8px;
}

.switcher-title {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

.switcher-menu {
    background: none;
    display: inline-block;
}

.switcher-dropdown {
    background: #fff;
    border: 1px solid #e5e5e5;
    height: auto;
    left: 50%;
    padding: 6px 10px !important;
    position: absolute;
    top: 100%;
    z-index: 1000;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}